<a href="https://colab.research.google.com/github/mounakacimi/study_path/blob/main/Session1_Lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **<font color='blue'>Session 1: Working with a CSV File</font>**

The goal of this session is to have a **first idea** about how a **computer program** is able to to **manipulate a given input** and perform tasks on it. Generally, the input given to the cpmputer can be of any type, but in this session we are going to **focus on CSV files** and learn:
1.  **how they are loaded** 
2.  in which **data structure** they are stored
3.  how they can be queried to **perform various operations** that can help us to speed up our daily tasks

## **1. Know where your file is located**

The first thing you need to know is **where your file is located**. The file can be stored on your local computer, on your Google Drive, or it can be on any remote repository on the Internet. So you need to know the **path** to the file.  

## Google Drive 

If your file is located in your Google Drive, you need first to connect the jupyter notebook to the you Drive. Then get the path of your file by right click on its name that would appear on the letf side bar of your notebook. 

## Github Repository

For example, I am using my github repository https://github.com/mounakacimi/study_path

As a rule, to be able to access a repository you need to clone it locally. To perform this action, use the command **! git clone** followed by **the url of the repository** as shown in the below cell:

In [1]:
! git clone https://github.com/mounakacimi/study_path.git

Cloning into 'study_path'...
remote: Enumerating objects: 122, done.
remote: Counting objects: 100% (24/24), done.
remote: Compressing objects: 100% (15/15), done.
remote: Total 122 (delta 16), reused 9 (delta 9), pack-reused 98
Receiving objects: 100% (122/122), 1.77 MiB | 6.68 MiB/s, done.
Resolving deltas: 100% (60/60), done.

## **2. Load your file into a Data Structure**

**CSV files** are typically loaded into a **DataFrame**, a **data structure** provided by the **pandas library**. DataFrames are powrful data stcrutues widely used in **Data Science**. They allow to perform a various number of operations as we are going to see in this session. 


Practically, you need to follow the below steps:


*   **import** the **pandas** library and give it a name, for example: **name "pd"**)
*   use the pandas function **read_csv** which reads the input csv file and put it a DataFrame. You should give a name to the DataFrame, for example: **annotations**

In [9]:
import pandas as pd

annotations=pd.read_csv("study_path/Session1_SmallDataset.csv")

## **3. Understand your Data Structure**

In this section, we are going to see the **basic functions** that help you **undetstand the structure of the DataFrame** and have a look at its content which was extracted from the oinput csv file. 


### **3.1 How does it look like?**

Recall that the **DataFrame** contains the **input csv file**. To have an idea about its structure, you can use the function **head()** which displays the first 5 rows of the DataFrame

In [6]:
annotations.head()

     related_sentence  predicted_topic  predicted_sentiment
0  Value for money...  Value for money                    1
1  value for money...  Value for money                    1
2      worst product.            Value                    0
3      Waste of money  Value for money                    0
4              use it        Usability                    1

If you want to see the last 5 rows, you can use the function **tail()**

In [5]:
annotations.tail()

,related_sentence,predicted_topic,predicted_sentiment
94,Stopped working after using it a few times.,Durability not working,0
95,Best beard trimmer I've used.,Value,1
96,Broke within two weeks.,Durability,0
97,worst trimmer I ever used.,Value,0
98,Worst trimmer I ever used.,Value,0

### **3.2 How to select a certain number of rows?**

If you want to select a **specific number of rows**, it is enough to give it as an **input to the head function**.

In [ ]:
annotations.head(50)

### **3.3 How to select a random number of rows?**

To select a random number of rows, you need to your the function sample(),as follows:

In [11]:
annotations.sample(10)

                        related_sentence  predicted_topic  predicted_sentiment
16                         Still Working     Performances                    1
1                     value for money...  Value for money                    1
50            Battery backup is very low          Battery                    0
73                       so easy to use.        Usability                    1
54                        Length setting         Features                    0
77                   Great for the Money            Value                    1
15                      Value for money.  Value for money                    1
92  Best nose hair trimmer I have owned.            Value                    1
11                          Great to use            Value                    1
36                             good work     Performances                    1

### **3.4 How to select specific columns?**

To select specific rows of the DataFrame, you need to specify their names between **[]**. You can store the result of your selection i a new DataFrame.

In [12]:
selection=annotations['related_sentence']

### **3.4 How to store a selected DataFrame on your Drive** 

In the following example, we select only the rows of the **predicted_topic** and store that in a file called **"selection.csv"**

In [15]:
selection=annotations.sample(10)

selection.to_csv("/content/drive/MyDrive/Colab Notebooks/selection.csv")

## **4. Interact with your Data Structure**

The **DataFrame** data structure offers a wide range of functions that help you perform many tasks like searching a specifc content, sorting information, selecting random entries, and many more interesting tasks.

### **4.1 Search for rows containing a given input information of type String**

In [ ]:
query_result=annotations[annotations['related_sentence'].str.contains('money | product')]

query_result

### **4.2 Search for rows that do not contain a given input information of type String** ###

In [19]:
query_result=annotations[~annotations['related_sentence'].str.contains('money | product')]

query_result

,related_sentence,predicted_topic,predicted_sentiment
0,Value for money...,Value for money,1
1,value for money...,Value for money,1
3,Waste of money,Value for money,0
4,use it,Usability,1
5,Value for the price,Value for money,1
...,...,...,...
94,Stopped working after using it a few times.,Durability not working,0
95,Best beard trimmer I've used.,Value,1
96,Broke within two weeks.,Durability,0
97,worst trimmer I ever used.,Value,0
98,Worst trimmer I ever used.,Value,0